html, body {
	background-color: #0010E0;
	color: #ffffff;
}

contents_main {
	background-color: #0000cd;
	color: #ffffff;
}

contents_warning {
	background-color: #0000cd;
	color: #ffffff;
	font-size: small;
}

h1 {
	background-color: #0000cd;
	color: #ffffff;
	font-size: small;
}

table {
	background-color: #0000cd;
	margin-left: auto;
	margin-right: auto;
}

#table_switch_title {
	color: white;
	background-color: darkturquoise;
	text-align: center;
}

#table_switch_light {
	color: black;
	background-color: powderblue;
	text-align: left;
}

#table_switch_dark {
	color: black;
	background-color: lightcyan;
	text-align: left;
}

a {
	color: #F0E000;
	text-decoration: underline;
}

a:hover {
	color: #F04000;
	text-decoration: underline;
}
